
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  #calendar-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
  }
  
  #nav-b {
    background-color: #333;
    color: #ccc;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
  }
  
  h2 {
    margin: 0;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    text-align: center;
  }
  
  thead {
    background-color: #4c4b4b;
    color: #fff;
  }
  
  #calendar-body td:hover {
    background-color: #bdbbbb45;
  }
  #link-date{
    margin: 20px;
    color:#c4680d;
    text-align: center;
  }
  .highlighted-day {
    background-color: #649e6457; 
    
    
  }
  .highlighted-day-today {
    background-color: #649e6457; 
    border: #4c4b4b solid thin;
    border-radius: 3px;
  }
  .today {
   border: #4c4b4b solid thin;
   border-radius: 3px;
    
  }