
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  #header-form {
    font-size: 20px;
    margin-bottom: 10px;
    color:#4b4a4a;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    margin-left: 30%;
    align-items: center;
  }
  

  
 form {
    max-width: 450px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
  }

  #one-row-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  align-self: center;
  align-items: center;
  }
  select{
    margin-left: 20px;
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
    
  }
  #lesson-paid{
    width: 30%;
  }
  .custom-chkbx{
    width: 20px;
    height: 20px;
  }
 
  button {
    background-color: #4c4b4b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  